.pagination {
  display: flex;
  justify-content: center;
  margin: 40px 0 80px 0;

  &__button {
    height: 32px;
    width: 32px;
    border: none;
    background-color: #323542;

    &:hover {
      background-color: #4A4D58;
    }

    &:disabled {
      background-color: #161827;
      color: white;
      box-shadow: none;
    }

    &:first-of-type {
      background-color: #323542;
      color: white;
      margin-right: 16px;
    }

    &:last-of-type {
      background-color: #323542;
      color: white;
      margin-left: 16px;
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 32px;
    height: 32px;
    background-color: #161827;
    color: $color-white;

    &:hover {
      background-color: #4A4D58;
    }

    &::after {
      background-color: #905BFF;
    }

    &-isActive {
      background-color: #905BFF;
      color: $color-white;
    }
  }
}