.card {
  width: 287;
  height: $card-height;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;

  left: 16px;
  top: 16px;

  background: $color-darkGray;

  @include onTablet {
    min-width: 229px;
    max-width: 288px;
  }
  @include onDesktop {
    width: $card-width;
  }

  &__image {
    height: $card-image-height;
    display: block;
    border-radius: 10%;

    margin: 0 auto $small-size;
  }

  &__name {
    font-family: 'Mont-Regular', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: $color-white;
  }
  &__prices {
    display: flex;
    gap: 8px;
    font-family: 'Mont-Bold', sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 31px;
    margin-bottom: 8px;
  }

  &__price {
    font-weight: 800;
    color: $color-white;
  }

  &__fullPrice {
    text-decoration-line: line-through;
    font-weight: 600;
    color: $color-gray;
  }

  &__divide-line {
    width: 100%;
    height: 1px;

    margin-bottom: 16px;
    border: 1px solid #3B3E4A;
    
  }

  &__description {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &__title {
      display: flex;
      text-align: center;
      font-family: 'Mont-SemiBold', sans-serif;
      font-size: 12px;
      line-height: 15px;
      margin-bottom:8px;

      color: $color-gray;
    }

    &__value {
      display: flex;
      font-family: 'Mont-SemiBold', sans-serif;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      margin-bottom:8px;

      color: $color-white;
    }

    &:last-child {
      margin-bottom: 16px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &--add-button {
      height: 40px;
  
      display: flex;
      justify-content: center;
      align-items: center;
      width: 160px;
      height: 40px;
  
      background-color: #905BFF;
  
      font-family: 'Mont-Regular', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      text-align: center;

      color: $color-white;
  
      transition: 0.3s, background-color 0.3s;

      &--is-added {
        height: 40px;
  
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 40px;
    
        font-family: 'Mont-Regular', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;

        text-align: center;

        color: $color-white;
        background-color: #323542;
      }
    }
  
    &--add-button:hover {
      background-color: #A378FF;
    }

    &--like-button {
      height: 40px;
      width: 40px;
      border-color: #323542;
      background-color: #323542;
      background-image: url('../../img/icon/heart.png');
      background-size: auto;
      background-repeat: no-repeat;
      background-position: 50%;
      border: none;

      transition: 0.3s, background-color 0.3s;

      &--is-added {
        height: 40px;
        width: 40px;
        border-color: #323542;
        background-color: #323542;
        background-image: url('../../img/icon/heart_filled.png');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 50%;
        border: none;

        transition: 0.3s, background-image 0.3s;
      }
    }
    &--like-button:hover {
      background-color: #4A4D58;
      border-color: #4A4D58;
    }

  }
}
