.category {
  &__img {
    display: block;
    width: 100%;
    min-width: 288px;
    height: auto;
    line-height: 130%;
    margin: 0 auto 24px;
    
    @include onTablet {
      min-width: 184px;
    }

    @include onDesktop {
      min-width: 368px;
    }

    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: $hover-scale;
    }
  }

  &__title {
    margin-bottom: 4px;

  }
  
  &__link {
    font-family: 'Mont-SemiBold', sans-serif;
    font-size: 20px;
    line-height: 130%;
    color: $color-white;

  }
  
  &__desc {
    font-family: 'Mont-Regular', sans-serif;
    font-size: 14px;
    line-height: 130%;
    color: $color-gray;

  }
}