.burger {
  position: absolute;
  transform: translateX(100%);
  height: $height-mob-tablet;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $bc-color;
  z-index: -1;

  @include onDesktop {
    height: $height-desktop;
  }
  
  &--visible {
    transform: translateX(0);
    z-index: 1;
    overflow: hidden;
  }

  transition: all 0.3s ease-in-out;
}