.burger {
  position: absolute;
  transform: translateX(100%);
  height: calc(100vh - 64px);
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $bc-color;
  
  &--visible {
    overflow: hidden;
    transform: translateX(0);
  }

  transition: all 0.3s ease-in-out;
}