.slider {
  position: relative;
  height: $slider-heght;
  display: flex;
  justify-content: center;
  align-items: center;

  &--previous-button {
    width: $slider-bottom-width;
    height: $slider-heght;
    background: #2A2932;
    background-image: url('../../img/icon/arrow_left.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-right: 16px;

    border: none;

    transform: 0.3s, background-color 0.3s;

    &:hover {
      background-color: #323542;
    }
  }
  &--next-button {
    width: $slider-bottom-width;
    height: $slider-heght;
    background: #2A2932;
    background-image: url('../../img/icon/arrow_right.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-left: 16px;


    border: none;

    transform: 0.3s, background-color 0.3s;

    &:hover {
      background-color: #323542;
    }
  }

  &-item {
    opacity: 0;
    width: 100%;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1.5s linear;

    &-visible {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.5s linear;
    }

    &-hidden {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s linear;
    }
  }
  
  &-item-hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s linear;
  }

}

.slide {
  opacity: 0;
  transition-duration: 1s;

  &__image {
    width: $slider-image-width;
    height: $slider-heght;
  }
}

.active {
  opacity: 1;
  transition-duration: 3s;
}

.slider-indicators {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.slider-indicator {
  width: 14px;
  height: 4px;

  background: #3B3E4A;

  margin: 0 5px;
  transition: background-color 0.3s ease-in-out;

  &-active {
    background: $color-white;
  }
}
