.product {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  width: 238px;

  @include onTablet {
    width: 592px;
  }
  @include onDesktop {
    width: 1184px
  }

  &__direction {
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-bottom: 41px;

    &__link {
      text-decoration:none;

      &--home-icon {
        width: 14px;
        height: 14px;
        background-image: url('../../img/icon/home.png');
        background-size: cover;
        transition: 0.3s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
    &--arrow {
      width: 14px;
      height: 14px;
      background-image: url('../../img/icon/arrow_right.png');
      background-size: cover;
      margin: 0 13px;
    }

    &--category {
      font-family: 'Mont-SemiBold', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;

      color: $color-white;
      transition: 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }

    &--item {
      font-family: 'Mont-SemiBold', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;

      color: $color-gray;
    }
  }
  &__redirect {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-bottom: 16px;

    &--arrow {
      width: 14px;
      height: 14px;
      background-image: url('../../img/icon/arrow_left.png');
      background-size: cover;
      margin-right: 9px;
    }
  }
  &__title {
    display: block;
    font-family: 'Mont-Bold', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;

    color: $color-white;
  }

  &__container {
    display:flex;
    flex-direction: column;
    // justify-content: space-between;  ??
    width: 288px;
    margin-top: 40px;
    margin-bottom: $large-size;

    @include onTablet {
      display:flex;
    flex-direction: row;
    // justify-content: space-between;  ??
    width: 237px;
    margin-top: 40px;
    margin-bottom: $large-size;
    }

    @include onDesktop {
      display:flex;
    flex-direction: row;
    // justify-content: space-between;  ??
    width: 320px;
    margin-top: 40px;
    margin-bottom: $large-size;
    }
  }

  &__photo-block {
    display: flex;
    flex-direction: column-reverse;

    @include onTablet {
      flex-direction: row;
    }

    @include onDesktop {
      flex-direction: row;
      padding-right: 50px;
    }

    &__small-images {
      display: flex;
      flex-direction: row;
      padding-right: 16px;

      @include onTablet {
        flex-direction: column;
      }
  
      @include onDesktop {
        flex-direction: column;
      }


      &__image {
        height: 40px;
        width: 40px;
        padding: 5px;
        border: 1px solid #3B3E4A;
        margin-bottom: 16px;
        border-radius: 10%;

        @include onTablet {
          height: 34px;
          width: 34px;
        }
    
        @include onDesktop {
          height: 66px;
          width: 66px;
        }

        &:hover {
          border: 1px solid $color-white;
        }
      }

    &__enlargeg-photo {
      width: 274px;
      height: 274px;
      border-radius: 10%;
      margin-bottom: $small-size;
  
      @include onDesktop {
        width: 442px;
        height: 442px;
        padding: 11px;
      }
    }
    }
  }

  &__available-variant {
    display: flex;
    flex-direction: column;
    width: 287px;

    @include onTablet {
      width: 237px;
    }
    @include onDesktop {
      width: 320px;
     }

     &--wrap {
      display:flex;
      justify-content: space-between;

      @include onDesktop {
        width: 512px;
       }
     }

    &__container {
      display: flex;
      flex-direction: row;
      margin-top: 8px;
      }

    &__color {
      display:flex;
      flex-direction: column;
      margin-bottom:$small-size;

      &:after {
        content:"";
        margin-top:$small-size;
        height: 1px;
        width: 100%;
        background-color:#3B3E4A;
      }

      &--button {
        border: 1px solid $bc-color;
        border-radius: 50%;
        padding:3px;
        margin-right: 8px;

        transition: 0.3s, border 0.3s;

          &:hover {
            border: 1px solid $color-white;
        }
      }

      &--1 {
        width:30px;
        height:30px;
        border: 1px solid $bc-color;
        border-radius: 50%;
      }
    }

    &__capacity {
      display: flex;
      flex-direction: column;

      &:after {
        content:"";
        margin-top:$small-size;
        height: 1px;
        width: 100%;
        background-color:#3B3E4A;
        margin-bottom: 32px;
      }

      &--button {
        width: 56px;
        height: 32px;
        border: 1px solid #4A4D58;
        background-color: transparent;
        color: $color-white;
        margin-right: 8px;

        transition:0.3s, background-color 0.3s;

        &:hover {
          background-color: $color-white;
          color: $bc-color;
        }

        &--is-active {
          background-color: $color-white;
          color: #0F1121;
        }
      }
    }

    &__prices {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      &--full-price {
        display: block;
        margin: 0 8px;

        font-family: 'Mont-SemiBold', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        text-decoration-line: line-through;

        color: $color-gray;
      }
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom:32px;
  
      &--add-button {
        height: 40px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        width: 231px;
        height: $medium-size;
    
        background-color: #905BFF;
    
        font-family: 'Mont-Regular', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
  
        color: $color-white;
    
        transition: 0.3s, background-color 0.3s;

        @include onTablet {
          width: 1$large-size;
          height: $medium-size;
        }

        @include onDesktop {
          width: 263px;
          height: $medium-size;
        }
  
        &--is-added {
          height: 40px;
    
          display: flex;
          justify-content: center;
          align-items: center;
          width: 263px;
          height: $medium-size;
      
          font-family: 'Mont-Regular', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 21px;
  
          text-align: center;
  
          color: $color-white;
          background-color: #323542;
        }
      }
    
      &--add-button:hover {
        background-color: #A378FF;
      }
  
      &--like-button {
        height: $medium-size;
        width: $medium-size;
        border-color: #323542;
        background-color: #323542;
        background-image: url('../../img/icon/heart.png');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 50%;
        border: none;
  
        transition: 0.3s, background-color 0.3s;
  
        &--is-added {
          height: $medium-size;
          width: $medium-size;
          border-color: #323542;
          background-color: #323542;
          background-image: url('../../img/icon/heart_filled.png');
          background-size: auto;
          background-repeat: no-repeat;
          background-position: 50%;
          border: none;
  
          transition: 0.3s, background-image 0.3s;
        }
      }

      &--like-button:hover {
        background-color: #4A4D58;
        border-color: #4A4D58;
      }
    }
    
  }
  &__about {
    display: flex;
    flex-direction: column;

    @include onTablet {
      flex-direction: column;
    }
     @include onDesktop {
      flex-direction: row;
     }

    &__container {
      display:flex;
      flex-direction: column;
      width: 287px;

      @include onTablet {
        width: 592px;
      }
  
      @include onDesktop {
        width: 560px;
      }

       &:first-of-type {
        margin-right: $big-size;
       }
    }

    &__title {
      font-family: 'Mont-Bold', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 31px;
      display: flex;
      flex-direction: column;

      color: $color-white;

      &:after {
        content:"";
        margin:16px 0 32px 0;
        height: 1px;
        width: 100%;
        background-color:#3B3E4A;
      }

      &--about {
        font-family: 'Mont-SemiBold', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        margin-bottom:16px;

        color: $color-white;
      }
      &--description {
        font-family: 'Mont-Regular', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 32px;

        color: $color-gray;
      }
    }

    &__characteristic {
      display: flex;
      justify-content: space-between;
      // gap: 8px;

      &--title {
        font-family: 'Mont-SemiBold', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 8px;

        color: $color-gray;
      }
      &--value {
        font-family: 'Mont-SemiBold', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 8px;

        color: $color-white;
      }
    }
  }
}