@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onMobile {
  @media (min-width: 320px) and (max-width: 639px) {
    @content;
  }
}

.slider {
  &__image {
    display: block;
    object-fit: cover;

    content: url('./Banner1.jpg');
  }
}

.slick {
    &-prev,
    &-next {
      font-size: 0;
      line-height: 0;

      position: absolute;
      top: 50%;

      display: block;

      width: 32px;
      height: 100%;

      padding: 14px;

      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);

      cursor: pointer;

      transition: border 0.3s;

      color: transparent;
      outline: none;
      background: #2A2932;

      &:hover {
        background-color: #323542;
      }
    }
    &-prev {
      left: -45px;
      position: absolute;
      z-index: 1;

      &::after {
        content: '';
        display: block;

        width: 6px;
        height: 10px;

        background-image: url('../../img/icon/arrow_left.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &-next {
      right: -45px;

      &::before {
        content: '';
        display: block;

        width: 6px;
        height: 10px;

        background-image: url('../../img/icon/arrow_right.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &-dot {
      background: #3B3E4A;
      transition: opacity 0.3s, background 0.3s;
  
      &:hover {
        background: #F1F2F9;
        opacity: 0.3;
      }
    }
  
    &-dots {
      position: absolute;
  
      display: block;
  
      width: 100%;
      padding: 18px 0 0 0;
      margin: 0;
  
      list-style: none;
  
      text-align: center;
      & li {
        position: relative;
  
        display: inline-block;
  
        margin-right: 14px;
  
        cursor: pointer;
  
        & button {
          font-size: 0;
          line-height: 0;
  
          display: block;
  
          width: 20px;
          height: 20px;
  
          cursor: pointer;
  
          color: transparent;
          border: 0;
          outline: none;
          background: transparent;
        }
      }
    }
    &-active {
      .slick-dot {
        background: #F1F2F9;
      }
    }
    &-slider {
      position: relative;
  
      display: block;
      box-sizing: border-box;
    }
  }
