.grid {
  display: grid;
  grid-template-columns: repeat($mobile-columns, 1fr);
  column-gap: $gap;

  @include onTablet {
    grid-template-columns: repeat($tablet-columns, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat($desktop-columns, 1fr);
  }

  &--tablet {
    display: block;

    @include onTablet {
      display: grid;
    }
  }

  &--desktop {
    display: block;

    @include onDesktop {
      display: grid;
    }
  }

  &__item {
    @for $start from 1 through $mobile-columns {
      @for $end from $start through $mobile-columns {
        &--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }

    @for $start from 1 through $tablet-columns {
      @for $end from $start through $tablet-columns {
        &--tablet-#{$start}-#{$end} {
          @include onTablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through $desktop-columns {
      @for $end from $start through $desktop-columns {
        &--desktop-#{$start}-#{$end} {
          @include onDesktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}