$bc-color: #0F1121;

$color-white: #F1F2F9;
$color-gray: #75767F;

$big-size: 64px;
$medium-size: 48px;

$mobile-columns: 4;
$tablet-columns: 12;
$desktop-columns: 24;
$gap: 16px;

$card-width: 272px;
$card-height: 506px;
$card-image-height: 196px;

$slider-heght: 400px;
$slider-bottom-width: 32px;
$slider-image-width: 1040px;

$border: 1px solid $color-gray;
