.icons {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;

  &__burger--footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: $big-size;

    position: fixed;

    bottom: 0;
    left: 0;
    right: 0;

    border-top: $border;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1px;
      height: 100%;

      background-color: $color-gray;
    }
  }
}

.icon {
  position: relative;
  padding: 17px;
  height: $medium-size;
  width: $medium-size;

  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;

  @include onTablet {
    border-left: $border;
  }

  @include onDesktop {
  padding: 24px;

  height: $big-size;
  }

  &__counter {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 1;
    top: 25%;
    left: 50%;
    height: 0.9rem;
    width: 0.9rem;

    font-family: 'Mont-Regular';
    font-size: 0.6rem;
    color: $color-white;

    background-color: #EB5757;
    border: 1px solid #0F1121;
    border-radius: 50%;
  }

  &__cart {
    background-image: url('../../../img/icon/cart.png');
  }

  &__favourites {
    background-image: url('../../../img/icon/heart.png');
  }

  &__burger--footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;

    transition: all 0.3 ease-in-out;
    width: 50%;
    text-align: center;
  }

  &--favourites,
  &--cart {
    display: none;

    @include onTablet {
      display: block;
    }
  }

  &--menu,
  &--cross {
    background-color: $bc-color;
    border: $border;
    display: flex;

    @include onTablet {
      display: none;
    }
  }
}